<div class="d-flex align-items-center justify-content-center" id="footer">
  <div class="d-flex align-items-center justify-content-center footer-action">
    <i class="fa fa-plus"></i>
    <%= link_to '', '#', class: "footer-action-link" %>
  </div>
</div>
